* {
    margin: 0;
    padding: 0;
}

/* Navigation  Start*/
.main {
    height: 8vh;
    background-color: black;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(95, 95, 95, 0.712);
}

.main li {
    list-style: none;
    margin-left: 60px;
}

.main a {
    text-decoration: none;
    color: aliceblue;
}

.navbar {
    height: 5vh;
    display: flex;
    align-items: center;
    margin-left: 53%;
    font-family: "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    color: aliceblue;
    display: flex;
    align-items: center;
    height: 5vh;
    margin-left: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.logo:hover{
    color: aquamarine;
}

/* Naavigation End */
/* Hero start */
.hero {
    width: 100%;
    height: 85vh;
    background-color: gray;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px rgb(37, 37, 37);
    margin-bottom: 50px;
}
.image{
    height: 40vh;
    background-color: gray;
    text-align: center;
    font-family: "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.image h3{
    font-size: 35px;
    margin-top: 20px;
    color: aliceblue;
    font-weight: 200;
}
.image h4{
    color: aliceblue;
    font-weight: 200;
}
.image img{
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.712);
}
.info{
    height: 15vh;
    display: flex;
    font-size: 20px;
}
.a{
    display: flex;
    align-items: center;
    height: 15vh;
    width: 50%;
    justify-content: center;
    font-size: 25px;

}
.a span{
    margin-left: 10px;
}
.loc{
    height: 15vh;
}
.loc{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.loc span{
    margin-left: 10px;
}
.icon{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
    font-size: 25px;
}
/* Hero end */

.b1 {
    width: 70%;
    margin: auto;
    height: 85vh;
    background-color: gray;
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px rgb(37, 37, 37);
    margin-bottom: 50px;
}
.b1 pre{
    margin-top: 8px;
}
.edu{
    height: 20vh;
    display: flex;
    margin: 5px;
}
.edu2{
    height: 10vh;
    display: flex;
}
.e1{
    width: 35%;
    height: 20vh;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.e1 p{
    padding-top: 50px;
}
.e2{
    height: 20vh;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.e2 p{
    padding-top: 50px;
}
