*{
    margin: 0;
    padding: 0;
}
/* Navigation Bar Start */
.navbar{
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}
.navbar li{
    list-style: none;
    margin-left: 45px;
}
.navbar li a{
    text-decoration: none;
    color: #fff;
    font-family:"Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Navigation Bar End */

/* Dis Start */
.dis{
    height: 4vh;
    background-color: #F5F5F7;
    color: black;
    font-family: "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dis p{
    text-align: center;
    padding-top: 5px;
}
/* Dis End */

/* Hero Start */
.hero{
    height: 80vh;
    background-image: url("img/back.png");
    background-size: cover;
    font-family: "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text{
    text-align: center;
    padding-right: 15%;
    padding-top: 15%;
}
.text h1{
    font-size: 60px;
}
.text h3{
    font-size: 30px;
}
.text h4{
    font-size: 25px;
}
.text_link{
    height: 5vh;
    display: flex;
    padding-left: 34%;
    align-items: center;
}
.text_link h5{
    margin-left: 20px;
    font-size: 20px;
}
.text_link a{
    text-decoration: none;
    color: #3887D6;
}
/* Hero End */

/* p1 Start */

.p1{
    margin-top: 5px;
    height: 70vh;
    background-color: #3887D6;
    background-image: url("img/back2.jpg");
    background-size: cover;
    text-align: center;
    font-size: 30px;
    font-family: "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.p2{
    margin-top: 30px;
    height: 70vh;
    background-image: url("img/back3.jpg");
    background-size: cover;
    text-align: center;
    font-size: 25px;
    font-family: "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.p2 span{
    color: #CA2166;
    font-style: italic;
}
.p2 a{
    text-decoration: none;
    color: #3887D6;
}
/* p1 End */
.banner{
    margin-top: 10px;
    height: 80vh;
    display: flex;
}
.banner a{
    text-decoration: none;
    color: #3887D6;
}
.b1{
    width: 50%;
    background-color: #CA2166;
    margin: 5px;
    text-align: center;
    padding-top: 50px;
    background-image: url("img/banner1.jpg");
    font-size: 20px;
}
.b2{
    width: 50%;
    background-color: #CA2166;
    margin: 5px;
    text-align: center;
    padding-top: 50px;
    background-image: url("img/banner2.jpg");
    font-size: 20px;
}