*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */

.nav{
    height: 11vh;
    list-style: none;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px rgba(95, 95, 95, 0.712);
    background-color: black;
}
.navbar1{
    height: 11vh;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: white;
    margin-left: 35px;
    font-size: 20px;
}
.logo{
    height: 11vh;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar2{
    height: 11vh;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation End */

/* Slider Show */

.carousel{
  width: 100%;  
  height: 80vh;
  margin-top: 5px;
}

.carousel-cell {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  display: flex;
}
/* Info Start */
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    width: 25%;
    padding-left: 30px;
    background-color: #211E29;
    font-family: "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: aliceblue;
}
.image img{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.712);
    border: 1px solid white;
}
.image h1{
    font-size: 35px;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 35px;
}
.image h3{
    font-size: 20px;
    font-weight: 100;
    margin-left: 45px;
}

.information{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 75%;
    background-color: #211E29;
}
.image1{
    text-align: center;
    font-family: "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}
.image1 h3{
    font-size: 35px;
    margin-top: 20px;
    color: aliceblue;
    font-weight: 200;
}
.image1 h4{
    color: aliceblue;
    font-weight: 200;
}
.info{
    height: 20vh;
    display: flex;
    font-size: 20px;
    margin-top: 10px;
}
.a{
    display: flex;
    align-items: center;
    height: 15vh;
    width: 50%;
    justify-content: center;
    font-size: 25px;
    color: aliceblue;
}
.a span{
    margin-left: 10px;
    color: aliceblue;
}
.loc{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 15px;
    color: aliceblue;
}
.loc span{
    margin-left: 10px;
    color: aliceblue;
}
.icon{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.icon a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 30px;
    font-size: 30px;
}
/* Info End */

/* Education Start */

.b1 {
    width: 100%;
    height: 80vh;
    background-color: #485460;
    text-align: center;
    color: aliceblue;
}
.edu{
    height: 20vh;
    display: flex;
    margin: 5px;
}
.e1{
    width: 25%;
    height: 20vh;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.e1 p{
    padding-top: 50px;
}
.e2{
    height: 20vh;
    width: 75%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.e2 h4{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 550;
    font-family: "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.e2 p{
    margin-top: 5px;
    font-size: 20px;
    font-family: "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Education End */

/* Technical Skills Start */
.b2{
    width: 100%;
    height: 80vh;
    background-color:#885D66;
    text-align: center;
    color: aliceblue;
}
.edu1{
    height: 15vh;
    display: flex;
    margin: 5px;
}
.t1{
    height: 15vh;
    width: 30%;
}
.t2{
    height: 15vh;
    width: 70%;
}
.t1 p{
    text-align: center;
    margin-top: 43px;
    font-size: 25px;
}
.t2 p{
    margin-top: 43px;
    text-align: center;
    font-size: 25px;
    padding-left: 20px;
}
.edu2{
    height: 50vh;
    display: flex;
    margin: 5px;
}
.t3{
    width: 30%;
    height: 50vh;
}
.t3 p{
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
}
.t4{
    width: 70%;
    height: 50vh;
}
.t4 p{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}
/* Technical Skills End */